% Copyright 2024 Paul Guyot <pguyot@kallisys.net>
% SPDX-License-Identifier: Apache-2.0 OR LGPL-2.1-or-later
{erl_opts, [debug_info]}.
{deps, [
    {atomvm_neopixel, {git, "https://github.com/atomvm/atomvm_neopixel.git", {branch, "master"}}}
%   {atomvm_m5, {git, "https://github.com/pguyot/atomvm_m5.git", {branch, "main"}}}
]}.
{plugins, [
    atomvm_rebar3_plugin
]}.
